@model Day1AttrRoute.Models.ApplicationUser

<h1>@Model.UserName</h1>

@if (ViewBag.isFriend)
{
    <h4>You are currently friends</h4>
}
else
{
    using (Html.BeginForm())
    {
        <input type="submit" value="Add As Friend" class="btn btn-danger" />
    }
}



